html {
    height: fit-content;
    color: #41337A;
}

#footer {
    display: none;
}

#container {
    min-height: 100vh;
    height: fit-content;
}

.kenta-box {
    margin: 80px 80px;
    height: max-content;
}

@media only screen and (max-width: 360px) {
    .kenta-box {
        margin: 40px 20px;
    }
}

#search {
    margin: auto;
    background-image: url("../svg/search.svg");
    background-size: contain;
    background-color: #41337A;
}

.input-bar-w-button {
    padding: 0 0.2rem;
    border: 2px solid #588A89;
    background-color: #F0F0F0;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    width: fit-content;
}

.input-bar-w-button>form {
    margin: auto;
}

input,
textarea,
select {
    width: 200px;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #F0F0F0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    resize: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.submit-main {
    margin-left: 5px;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 50%;
    padding: 2px;
    border-radius: 1rem;
    width: 24px;
    height: 24px;
}

.submit-main:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.card-image {
    min-width: 90px;
    width: 90px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 1.25rem !important;
}

.card-stacked {
    max-width: calc(100% - 90px);
}

.card-image>a {
    display: flex;
    height: 100%;
}

.kenta-inline-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.card-image>a>img {
    display: inline-block;
    width: 10.6%;
    height: 60%;
    margin: auto auto;
    vertical-align: middle;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.12);
}

.pub {
    background-color: #0044aa;
    color: #F0F0F0;
    font-size: 0.6rem;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    max-width: 40%;
}