html {
    background-image: url('https://images.unsplash.com/photo-1534312527009-56c7016453e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
}

#input {
    background: url("input.png");
    background-size: contain;
}

#matkul {
    background: url("matkul.png");
    background-size: contain;
}

.bg {
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-div {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

form {
    color: #41337A;
}

form>p {
    margin: 2% 0;
    display: flex;
    flex-direction: column;
}

.form-box {
    background-color: #f0f0f03a;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    padding: 4% 4%;
    border-radius: 2rem;
}

.form-box>div {
    margin: 2% 0;
}

label {
    margin: 0.5rem;
    width: max-content;
    color: #41337A;
    background-color: #b6d8ec;
    padding: 0.1rem 0.8rem;
    border-radius: 1rem;
}

input,
textarea,
select {
    color: inherit;
    border: none;
    background-color: #F0F0F0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    resize: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

#id_sks {
    width: 3rem;
}

select {
    width: fit-content;
    margin-right: 2%;
}

textarea {
    height: 100px;
}

.form-button {
    width: fit-content;
}

#submit-button {
    background-color: rgb(70, 190, 96);
    color: rgb(228, 255, 232);
}

#clear-button {
    background-color: rgb(190, 70, 70);
    color: rgb(255, 228, 228);
}

.form-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.form-button:active {
    filter: brightness(0.9);
    border: none;
}

.matkul,
.matkul-detail {
    padding: 2%;
    background-color: #F0F0F0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.matkul:hover {
    transform: translateY(-10px) scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12), inset 0px -4px 4px rgba(65, 51, 122, 0.12);
}

.matkul-detail {
    width: 750px;
    position: absolute;
    top: 10%;
    left: 1%;
}

.matkul-detail>h3 {
    font-size: 2rem;
}