{% extends "base.html" %}
{% load static %}
{% block head_overrides %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'story_5/style.css' %}">
    <link rel="stylesheet" href="{% static 'story_2/style.css' %}">
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
    <div id="caption">{{caption}}</div>
    <div id="flexbox">
        <div class="pair">
            <a href="./input"><div class="button" id="input"></div></a>
            Input<br>Form
        </div>
        <div class="pair">
            <a href="./matkul"><div class="button" id="matkul"></div></a>
            Mata<br>Kuliah
        </div>
        <div class="pair" style="padding: 10px 0;">
            <a href="/"><div class="button" id="home"></div></a>
        </div>
    </div>
{% endblock %}