{% extends "navbase.html" %}
{% load static %}
{% block head_overrides %}
    <link rel="stylesheet" href="{% static 'story_5/style.css' %}">
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
{% include './navbar.html' %}
<div class="bg">
    <div id="form-div">
        <form class="form-box" action="" method="POST" enctype="multipart/form-data">
            <h2>📚 Add Courses</h2>
            {% csrf_token %}
            <p><label for="{{form.name.id_for_label}}">Name</label>
                {{form.name}}</p>
            <p><label for="{{form.lecturer.id_for_label}}">Lecturer</label>
                {{form.lecturer}}</p>
            <div class="form-box" style="border-radius: 0%; padding:2% 1%;">
                <div><label for="{{form.classroom.id_for_label}}">Room</label>
                    {{form.classroom}}</div>
                <div><label for="{{form.semester.id_for_label}}">Term</label>
                    {{form.semester}}{{form.year}}</div>
                <div><label for="{{form.sks.id_for_label}}">Course Hours</label>
                    {{form.sks}} hour(s)</div>
                <div><label for="{{form.difficulty.id_for_label}}">Difficuty</label>
                    {{form.difficulty}}</div>
            </div>
            <p><label for="{{form.desc.id_for_label}}">Description</label>
                {{form.desc}}</p>
            <input class="form-button" id="submit-button" type="submit" value="Submit">
            <input class="form-button" id="clear-button" type="reset" value="Clear">
        </form>
    </div>
</div>
{% endblock %}