{% extends "navbase.html" %}
{% load static %}
{% block head_overrides %}
    <link rel="stylesheet" href="{% static 'story_5/style.css' %}">
    <style>
        html {
            background: transparent;
        }
        body {
            background-color: rgb(101, 134, 226);
        }
        label {
            margin:0.5%;
            padding: 0.1rem 0.5rem;
        }

        .submit-sub {
            margin-left: 5px;
            background-repeat: no-repeat;
            background-size: 75%;
            background-position: 50% 50%;
            padding: 2px;
            border-radius: 0.2rem;
            width: 16px;
            height: 16px;
        }
        .submit-main {
            margin-left: 5px;
            background-repeat: no-repeat;
            background-size: 75%;
            background-position: 50% 50%;
            padding: 2px;
            border-radius: 0.2rem;
            width: 20px;
            height: 20px;
        }
        .submit-sub:hover, .submit-main:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }
        #del {
            background-image: url("../../static/story_5/delete.svg");
            background-color:  rgb(235, 123, 103);
        }
        #edit {
            background-image: url("../../static/story_5/edit.svg");
            background-color:  rgb(226, 197, 101);
        }
        #detail {
            background-image: url("../../static/story_5/detail.svg");
            background-color:  rgb(101, 134, 226);
        }
    </style>
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
{% include './navbar.html' %}
<div class="bg">
    <div class="matkul-detail">
        <h3>{{datum.name}}</h3>
        <div style="margin-top: 0.5rem ; display:flex; flex-direction:column;">
            <div style="display:flex; flex-direction:row;">
                <label style="width: 120px;">📖 Lecturer</label>
                <p style="font-size: 1.15rem; line-height:100%; transform:translateY(25%);">{{datum.lecturer}}</p>
            </div>
            <diV style="display:flex; flex-direction:row;">
                <label style="width: 120px;">🏫 Classroom</label>
                <p style="font-size: 1.15rem; line-height:100%; transform:translateY(25%);">{{datum.classroom}}</p>
            </diV>
        </div>
        <div style="margin-top: 1rem ;">
            <label>{{datum.sks}} 🕒</label>
            <label>{{datum.get_semester_display}}</label>
            <label>{{datum.get_year_display}}</label>
            {% if datum.difficulty == "?" %}
                <label style="background-color: rgb(189, 151, 226);">
            {% elif datum.difficulty == "1" %}
                <label style="background-color: rgb(100, 197, 137);">
            {% elif datum.difficulty == "2" %}
                <label style="background-color: rgb(226, 214, 101);">
            {% else %}
                <label style="background-color: rgb(235, 123, 103);">
            {% endif %}
            {{datum.get_difficulty_display}}
            </label>
        </div>
        <div style="margin-top: 1rem ;">
            <label style="width: 120px;">📝 Description</label>
            <p style="font-size: 0.8rem; margin:0.5rem 1rem; word-wrap:break-word;">{{datum.desc}}</p>
        </div>
        
        <div style="display:flex;">
            <form action='{% url "story_5:story_5_delete_matkul" datum.id %}' method="POST">
                {% csrf_token %}
                <input id="del" class="submit-main" type="submit" value="">
            </form>
            <a href='{% url "story_5:story_5_edit_matkul" datum.id %}' id="edit" class="submit-sub"></a>
        </div>
    </div>
</div>
{% endblock %}