<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/main/css/navbar.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div class="navbar" id="navbar" style="background-color: transparent;">
            <div class="navbar-button-row">
                <a href="/story_5/input" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_5/input.svg">Input</div></a>
                <a href="/story_5/matkul" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_5/matkul.svg">MatKul</div></a>
                <a href="/" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_4/stories.svg">Stories</div></a>
            </div>
        </div>
    </body>
    <script src="../../static/story_3/main/scripts/navbar-scripts.js"></script>
</html>