{% extends "base.html" %} {% load static %} {% block head_overrides %}

<title>{{caption}} - Kenta</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="{% static 'story_8/css/style.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock %} {% block content %}
<div class="kenta-box">
    <form action="" method="GET" enctype="multipart/form-data">
        <div class="input-bar-w-button" style="border: 2px solid #41337A;">
            <div id="search" class="submit-main" value=""></div>
            <input class="browser-default" id="search_bar" type="text" name="search" placeholder="Search for google books">
        </div>
    </form>
    <div class="output">
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'story_8/js/ajax.js' %}"></script>
{% endblock %}