<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% include 'head.html' %}
        {% block head_overrides %}{% endblock %}
    </head>
    <body>
        <div id='container'>
            {% block content %}
            {% endblock %}
        </div>
        {% include './footer.html' %}
    </body>
    {% block scripts %}{% endblock %}
</html>