<!DOCTYPE html>
{% load static %}
<htmL>
    <body>
        <div id="footer">
            <img src="{% static 'My PPW Logo.png'%}" width="25px" height="25px"> by Muhammad Kenta Bisma Dewa Brata 
        </div>
    </body>
</htmL>
