{% extends "base.html" %} {% load static %} {% block head_overrides %} {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>{{caption}} - Kenta</title>
{% endblock %} {% block content %}
<div id="caption">{{caption}}</div>
<div id="flexbox">
    <div class="pair">
        <a href="./story_1">
            <div class="button" id="story_1">
                <p>1</p>
            </div>
        </a>
        Static HTML<br>& Deployment
    </div>
    <div class="pair">
        <a href="./story_2">
            <div class="button" id="story_2">
                <p>2</p>
            </div>
        </a>
        Wireframing<br>& Prototyping
    </div>
    <div class="pair">
        <a href="./story_3">
            <div class="button" id="story_3">
                <p>3</p>
            </div>
        </a>
        HTML & CSS <br>(Frameworks)
    </div>
    <div class="pair">
        <a href="./story_4">
            <div class="button" id="story_4">
                <p>4</p>
            </div>
        </a>
        Django<br>Intro
    </div>
    <div class="pair">
        <a href="./story_5">
            <div class="button" id="story_5">
                <p>5</p>
            </div>
        </a>
        Django Forms<br>& Models
    </div>
    <div class="pair">
        <a href="./story_6">
            <div class="button" id="story_6">
                <p>6</p>
            </div>
        </a>
        TDD with<br>Django
    </div>
    <div class="pair">
        <a href="./story_7">
            <div class="button" id="story_7">
                <p>7</p>
            </div>
        </a>
        JavaScript<br>and jQuery
    </div>
    <div class="pair">
        <a href="./story_8">
            <div class="button" id="story_8">
                <p>8</p>
            </div>
        </a>
        Ajax
    </div>
    <div class="pair">
        <a href="./story_9">
            <div class="button" id="story_9">
                <p>9</p>
            </div>
        </a>
        Authentication
    </div>
    <div class="pair" style="display: none;">
        <div class="button" id="unknown"></div>
        ???
    </div>
</div>
{% endblock %}