<!DOCTYPE html> {% load static %}
<html>

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="{% static 'story_3/main/css/homepage.css' %}">
    <style>
        #homepage-text {
            position: absolute;
            top: 50%;
        }
        
        html {
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        
        body {
            background: transparent;
        }
    </style>
    {% block head_overrides %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

{% block scripts %}{% endblock %}

</html>