<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/style.css' %}">
        <link rel="stylesheet" href="{% static 'story_3/main/css/about.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div style="margin: 0.5% 5%; height:60%;">
            <div class="swapper">
                <div class="swapper-pair" id="sb-1" style="order: 1;">
                    <button class="swapper-button" onclick="swap('sb-1')"><img src="../../../static/story_3/main/navbar/about-me.svg"></button>
                    <p class="swapper-text">About Me</p>
                </div>
                <div class="swapper-pair" id="sb-2" style="order: 2;">
                    <button class="swapper-button" onclick="swap('sb-2')"><img src="../../../static/story_3/main/about/hobby.svg"></button>
                    <p class="swapper-text">Hobbies</p>
                </div>
                <div class="swapper-pair" id="sb-3" style="order: 3;">
                    <button class="swapper-button" onclick="swap('sb-3')"><img src="../../../static/story_3/main/about/skill.svg"></button>
                    <p class="swapper-text">Skills</p>
                </div>
                <div class="swapper-pair" id="sb-4" style="order: 4;">
                    <button class="swapper-button" onclick="swap('sb-4')"><img src="../../../static/story_3/main/about/interest.svg"></button>
                    <p class="swapper-text">Interests</p>
                </div>
                <div class="swapper-pair" id="sb-5" style="order: 5;">
                    <button class="swapper-button" onclick="swap('sb-5')"><img src="../../../static/story_3/main/about/commitee-experience.svg"></button>
                    <p class="swapper-text">Commitee<br>Experience</p>
                </div>
            </div>
            <div class="swapper-content" style="height:75%;">
                <div class="slideshow">
                    <div class="button arrow" id="left"></div>
                    <div class="slidess" style="display: flex; width: 700px; height:300px;">
                        <p style="margin:auto;">Coming soon!</p>
                        <div class="slide" id="s1"></div>
                        <div class="slide" id="s2"></div>
                    </div>
                    <div class="button arrow" id="right"></div>
                </div>
                <div class="slide-indicators">
                    <div class="slide-indicator" onclick="current(1)"></div>
                    <div class="slide-indicator" onclick="current(2)"></div>
                </div>
                
            </div>
        </div>
    </body>
    <script src="../../static/story_3/main/scripts/about-scripts.js"></script>
</html>