<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/style.css' %}">
        <link rel="stylesheet" href="{% static 'story_3/main/css/contacts.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div class="caption" style="margin-left: 5%; top:20%;">Say hello to me at...</div>
        <div id="socmed">
            <a class="email" href="mailto:muhammad.kenta@ui.ac.id"><img src="../../static/story_3/main/email-orange.svg">muhammad.kenta@ui.ac.id</a>
            <div id="socmed-row">
                <a class="socmed-button" href="mailto:muhammad.kenta96@gmail.com"><img src="../../static/story_3/main/socmed/google.svg"></a>
                <a class="socmed-button" href="https://www.instagram.com/kent.db/" target="_blank"><img src="../../static/story_3/main/socmed/instagram.svg"></a>
                <a class="socmed-button" href="https://www.linkedin.com/in/muhammad-kenta-994902194  " target="_blank"><img src="../../static/story_3/main/socmed/linkedin.svg"></a>                      
                <a class="socmed-button" href="https://gitlab.com/kenta_bisma" target="_blank"><img src="../../static/story_3/main/socmed/gitlab.svg"></a>
                <a class="socmed-button" href="https://github.com/MystDevoir" target="_blank"><img src="../../static/story_3/main/socmed/github.svg"></a>
                <a class="socmed-button" href=""><img src="../../static/story_3/main/socmed/figma.svg"></a>
                <a class="socmed-button" href="https://t.me/muhammad_kenta" target="_blank"><img src="../../static/story_3/main/socmed/telegram.svg"></a>
                <a class="socmed-button" href=""><img src="../../static/story_3/main/socmed/line.svg"></a>
                <a class="socmed-button" href="https://steamcommunity.com/id/mystdev/" target="_blank"><img src="../../static/story_3/main/socmed/steam.svg"></a>
            </div>
        </div>
        
    </body>
</html>