{% extends "base.html" %}
{% load static %}
{% block head_overrides %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'story_3/style.css' %}">
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
    <div id="caption">{{caption}}</div>
    <div id="flexbox">
        <div style="margin:auto; display: flex;">
            <iframe id="mirror" style="border: 1px solid rgba(0, 0, 0, 0.1); resize:horizontal;" width="750vmax" height="375vmax" src="" title="Draft" allowfullscreen></iframe>
                <div class="pair" style="margin: auto 0;">
                <a href="/"><div class="button" id="home"></div></a>
            </div>
        </div>
    </div>
    <div class="flex-iconbar">
        <div class="button-w-tooltip">
            <div class="tooltip-text">Tooltip Test</div>
            <div class="button" id="drafts_1" onClick="assignFrame('./tooltip_test')"></div>
        </div>
        <div class="button-w-tooltip">
            <div class="tooltip-text">Multipin</div>
            <div class="button" id="drafts_2" onClick="assignFrame('./multipin')"></div>
        </div>
        <div class="button-w-tooltip">
            <div class="tooltip-text">Navbar</div>
            <div class="button" id="drafts_3" onClick="assignFrame('./navbar')"></div>
        </div>
        <div class="button-w-tooltip">
            <div class="tooltip-text">Flashcards</div>
            <div class="button" id="drafts_4" onClick="assignFrame('./flashcards')"></div>
        </div>
        <div class="button-w-tooltip">
            <div class="tooltip-text">Swappers</div>
            <div class="button" id="drafts_5" onClick="assignFrame('./swappers')"></div>
        </div>
        <div class="button-w-tooltip">
            <div class="tooltip-text">Two-End-Stick</div>
            <div class="button" id="drafts_6" onClick="assignFrame('./two-end-stick')"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function assignFrame(dir) {
            document.getElementById("mirror").src = dir;
            setResize(dir);
        }

        function setResize(dir) {
            if (dir === "./navbar") {
                document.getElementById("mirror").style.resize = "horizontal";
            } else {
                resetWidth();
                document.getElementById("mirror").style.resize = "none";
            }
        }

        function resetWidth() {
            document.getElementById("mirror").style.width = "49vmax";
        }
    </script>
{% endblock %}