<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/style.css' %}">
        <link rel="stylesheet" href="{% static 'story_3/main/css/experience.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div class="caption">My Journey Map!</div>
        <iframe id="map" src="../drafts/multipin"></iframe>
    </body>
    <script src="../../static/story_3/main/scripts/experience-scripts.js"></script>
</html>