<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/main/css/homepage.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div id="homepage-text">
            <h1>Welcome!</h1>
            <h2>You have stumbled upon my profile page!
            <br>Curious about me?</h2>
            <a class='button' href=#about-me>Get started here!</a>
        </div>
    </body>
    <script src="../../static/story_3/main/scripts/homepage-scripts.js"></script>
</html>