{% extends "base.html" %}
{% load static %}
{% block head_overrides %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'story_3/style.css' %}">
    <link rel="stylesheet" href="{% static 'story_2/style.css' %}">
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
    <div id="caption">{{caption}}</div>
    <div id="flexbox">
        <div class="pair">
            <a href="./drafts"><div class="button" id="drafts"></div></a>
            HTML & CSS<br>Drafts
        </div>
        <div class="pair">
            <a href="./wireframe"><div class="button" id="wireframe"></div></a>
            Mobile<br>Wireframe
        </div>
        <div class="pair">
            <a href="./main"><div class="button" id="main"></div></a>
            Main<br>Page
        </div>
        <div class="pair" style="padding: 10px 0;">
            <a href="/"><div class="button" id="home"></div></a>
        </div>
    </div>
{% endblock %}