<!DOCTYPE html>

{% load static %}

<html>
    <head>
        {% include "head.html" %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            .bg {
                width: 100%;
                position: relative;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            #about-me.bg , #projects.bg {
                background-color: #FFFCF6;
            }
            
            #experience.bg {
                background: inherit;
            }
            
            #contacts.bg {
                height: 50vh;
                background-color: #41337A;
            }

            .curve {
                height: 15%;
                margin: 0;
                padding: 0;
                bottom: 0;
                position: absolute;
                width: 100%;
                
            }

            #c1 {
                background-image: url("../../static/story_3/main/curve1.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }

            #c2 {
                background-image: url("../../static/story_3/main/curve2.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    </head>
    <body>
        {% include "./navbar.html" %}
        <div class="bg" id="homepage">
            {% include "./homepage.html" %}
            <div class="curve" id="c1"></div>
        </div>
        <div class="bg" id="about-me">
            {% include "./about.html" %}
            <div class="curve" id="c2"></div>
        </div>
        <div class="bg" id="experience">
            {% include "./experience.html" %}
            <div class="curve" id="c1"></div>
        </div>
        <div class="bg" id="projects">
            {% include "./projects.html" %}
        </div>
        <div class="bg" id="contacts">
            {% include "./contacts.html" %}
        </div>
    </body>
    <script src="../../static/story_3/main/scripts/main-scripts.js"></script>
</html>