<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/main/css/navbar.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div class="navbar" id="navbar">
            <div class="navbar-button-row">
                <a href="#homepage" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/home.svg">Home</div></a>
                <a href="#about-me" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/about-Me.svg">About Me</div></a>
                <a href="#experience" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/experience.svg">Experience</div></a>
                <a href="#projects" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/projects.svg">Projects</div></a>
                <a href="#contacts" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/contacts.svg">Contacts</div></a>
           </div>
        </div>
    </body>
    <script src="../../static/story_3/main/scripts/navbar-scripts.js"></script>
</html>