<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/style.css' %}">
        <link rel="stylesheet" href="{% static 'story_3/main/css/projects.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div class="caption">My Projects!</div>
        <div style="margin: 0.5% 5%; height:60%;">
            <div class="swapper">
                <div class="swapper-pair" id="sb-1" style="order: 1;">
                    <button class="swapper-button" onclick="swap('sb-1')"><img src="../../../static/story_3/main/projects/visual.svg"></button>
                    <p class="swapper-text">Visual</p>
                </div>
                <div class="swapper-pair" id="sb-2" style="order: 2;">
                    <button class="swapper-button" onclick="swap('sb-2')"><img src="../../../static/story_3/main/projects/code.svg"></button>
                    <p class="swapper-text">Code</p>
                </div>
            </div>
            <div class="swapper-content">
                <div class="slideshow">
                    <div class="button arrow" id="left"></div>
                    <div class="slides" style="display: flex;">
                        <p style="margin:auto;">Coming soon!</p>
                        <div class="slide" id="s1"></div>
                        <div class="slide" id="s2"></div>
                    </div>
                    <div class="button arrow" id="right"></div>
                </div>
                <div class="slide-indicators">
                    <div class="slide-indicator" onclick="current(1)"></div>
                    <div class="slide-indicator" onclick="current(2)"></div>
                </div>
                
            </div>
        </div>
    </body>
    <script src="../../static/story_3/main/scripts/projects-scripts.js"></script>
</html>