{% extends "navbase.html" %}
{% load static %}
{% block head_overrides %}
    <link rel="stylesheet" href="{% static 'story_6/css/style.css' %}">
    <title>{{caption}} - Kenta</title>
    <style>
    </style>
{% endblock %}
{% block content %}
{% include './navbar.html' %}
<div class="bg">
    <div class="kanban">
        <div class="kanban-board">
            {% if activities %}
                {% for activity in activities %}
                <div class="card">
                    <div class="activity-title">
                        {{activity.name}}
                    </div>
                    {% if activity.people != None %}
                        <div class="people">
                            {% for person in activity.people.all %}
                                <div class="person">
                                    <form class="inline-button-form" action="{% url 'story_6:story_6_delete_person' person.id %}" method="POST">
                                        {% csrf_token %}
                                        <input id="x" class="submit-main" type="submit" value="">
                                    </form>
                                    <div class="person-text">
                                        👤 {{person.person_name}}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div style="display:flex; flex-direction:row-reverse;">
                        <form action="{% url 'story_6:story_6_delete_activity' activity.id %}" method="POST">
                            {% csrf_token %}
                            <input id="del" class="submit-main" type="submit" value="">
                        </form>
                        <form action="{% url 'story_6:story_6_add_person' %}" method="POST" enctype="multipart/form-data">
                            <div class="input-bar-w-button" style="border: 2px solid #41337A; padding:0.1rem;">
                                {% csrf_token %}
                                {{person_form.person_name}}
                                <input type="hidden" name="activity" value="{{activity.id}}">
                                <input id="add-person" class="submit-main" type="submit" value="">
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="activity-input">
        <h2>Make a new activity</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="input-bar-w-button">
                {% csrf_token %}
                {{activity_form.name}}
                <input id="add" class="submit-main" type="submit" value="">
            </div>
        </form>
    </div>
</div>
{% endblock %}