{% extends "navbase.html" %} {% load static %} {% block head_overrides %}

<title>{{caption}} - Kenta</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="{% static 'story_8/css/style.css' %}">
<link rel="stylesheet" href="{% static 'story_9/css/style.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock %}{% block content %}
{% include './navbar.html' %}
{% block story9_content %}
<div class="container" style="transform: translateY(200px);">
    <div class="card horizontal"style="margin: auto;" >
        <div class="card-content" style="padding: 50px;">
            <h4>Hello{{name}}!</h4>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
{% block scripts %}
{% endblock %}