{% extends "story_9/index.html" %}
{% block story9_content %}
<div class="container" style="transform: translateY(200px);">
    <div class="card horizontal" style="width: fit-content; margin: auto;">
        <div class="card-content" style="padding: 50px;">
            <span class="center">Log In</span>
            <form method="POST" action="/story_9/login/" style="display: flex; flex-direction: column;">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" name="username">
                <label>Password</label>
                <input type="password" name="password">
                <div class="card-content">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </div>
                <input style="margin-top: 20px;"type="submit" value="Log In">
            </form>
        </div>
    </div>
</div>
{% endblock %}