<!DOCTYPE html> {% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'story_3/main/css/navbar.css' %}">
</head>

<body style="width:100%; height:max-content;">
    <div class="navbar" id="navbar" style="background-color: transparent;">
        <div class="navbar-button-row">
            <a href="/" class="navbar-href">
                <div class="navbar-button"><img src="../../../static/story_4/stories.svg">Stories</div>
            </a>
            <a href="/story_9/" class="navbar-href">
                <div class="navbar-button"><img src="../../static/story_9/svg/story_9.svg">Story 9</div>
            </a>
            {% if not logged %}
            <a href="/story_9/login/" class="navbar-href">
                <div class="navbar-button"><img src="../../static/story_9/svg/login.svg">Log In</div>
            </a>
            {% else %}
            <a href="/story_9/logout/" class="navbar-href">
                <div class="navbar-button"><img src="../../static/story_9/svg/logout.svg">Log Out</div>
            </a>
            {% endif %}
            <a href="/story_9/signup/" class="navbar-href">
                <div class="navbar-button"><img src="../../static/story_9/svg/signup.svg">Sign Up</div>
            </a>
        </div>
    </div>
</body>
<script src="../../static/story_3/main/scripts/navbar-scripts.js"></script>

</html>