{% extends "story_9/index.html" %}
{% block story9_content %}
<div class="container" style="transform: translateY(200px);">
    <div class="card horizontal" style="width: fit-content; margin: auto;">
        <div class="card-content" style="padding: 50px;">
            <span class="center">Sign Up</span>
            <form method="POST" style="display: flex; flex-direction: column;">
                {% csrf_token %}
                {% for field in form %}
                    <label>{{field.label}}</label>
                    {{field}}
                {% endfor %}
                <input style="margin-top: 20px;"type="submit" value="Join Now!">
            </form>
        </div>
    </div>
</div>

{% endblock %}