* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

html {
    height: 100%;
}

body {
    background: radial-gradient(64.06% 83.41% at 78.19% 82.22%, #60D4EE 33.85%, #60BBEE 67.19%, #48B5F2 89.06%, #41B1F0 100%);
    background-repeat: no-repeat;
    background-size: auto;
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#caption {
    margin: 5% auto;
    text-align: center;
    width: fit-content;
    border-radius: 30.5px;
    background: #3BA48A;
    color: #F0F0F0;
    justify-content: left;
    font-size: 24px;
    padding: 5px 50px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

#flexbox {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    color: #41337A;
    font-weight: 500;
    font-size: 12px;
    line-height: 105%;
    /* or 13px */
    text-align: center;
    padding: 10px;
}

iframe {
    display: block;
    margin: auto 3%;
    margin-top: 2%;
}

.pair {
    margin: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: #F4EBD8;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12), inset 0px -4px 4px rgba(65, 51, 122, 0.12);
    border-radius: 20px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 56px;
    transition: 0.2s;
}

a {
    color: inherit;
    text-decoration: none;
}

.button:hover {
    transform: translateY(-10px) scale(1.1);
    cursor: pointer;
    filter: brightness(1.1);
    color: rgba(65, 51, 122, 0);
    background-size: contain;
}

.button:active {
    filter: opacity(0.9);
}

#story_1:hover {
    background: url("1.png");
    background-size: contain;
}

#story_2:hover {
    background: url("2.png");
    background-size: contain;
}

#story_3:hover {
    background: url("3.png");
    background-size: contain;
}

#story_4:hover {
    background: url("4.png");
    background-size: contain;
}

#story_5:hover {
    background: url("5.png");
    background-size: contain;
}

#story_6:hover {
    background: url("6.png");
    background-size: contain;
}

#story_7:hover {
    background: url("7.png");
    background-size: contain;
}

#story_8:hover {
    background: url("8.png");
    background-size: contain;
}

#story_9:hover {
    background: url("9.png");
    background-size: contain;
}

#unknown {
    background: url("unknown.png");
    background-size: contain;
}

#unknown:hover {
    cursor: not-allowed;
    filter: opacity(0.7);
}

#home {
    margin-bottom: 0;
    width: 60px;
    height: 60px;
    background: url("home.png");
    background-size: contain;
}

#footer {
    width: 100%;
    padding: 5px 0;
    position: fixed;
    bottom: 0px;
    background: #3BA48A;
    font-weight: 300;
    vertical-align: middle;
    text-align: center;
    color: #F0F0F0;
}

#footer img {
    vertical-align: middle;
}

#logo {
    background-image: url("My PPW Logo.png");
    width: 5px;
    height: 5px;
}