html {
    background: #F0F0F0;
}

body {
    height: 100vh !important;
    margin: 0;
}

.group {
    position: relative;
}

.caption {
    font-size: larger;
    padding: 5px 1rem;
    background-color: #F0F0F0;
    width: max-content;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.kenta-h3-up-button,
.kenta-h3-down-button {
    width: 24px;
    height: 24px;
    border: solid #000000 1px;
    border-radius: 12px;
    margin: 0 2px;
}

.kenta-h3-up-button:hover,
.kenta-h3-down-button:hover {
    background-color: rgb(255, 88, 130);
    cursor: pointer;
}

.kenta-h3-up-button {
    background-image: url("../icon/top.svg");
    background-size: contain;
}

.kenta-h3-down-button {
    background-image: url("../icon/bottom.svg");
    background-size: contain;
}