html {
    background: #454D67;
    color: #454D67;
}

.bg {

    width: 100%;
    bottom: 0;
    background-color: #FFFCF6;
    position: absolute;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    vertical-align: middle;
    overflow: hidden;
    
}

.kanban {
    overflow: scroll;
    background-color: #A8CFE4;
    padding: 1rem;
    height: 100%;
    width: 1002px;
}
.kanban-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.card {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    box-shadow: 0px 10px 15px 5px rgba(35, 57, 123, 0.12);
    border-radius: 15px;
    background-color: #FFFCF6;
    width: 200px;
    height: fit-content;
    max-height: 200px;
    overflow: scroll;
    transition: 0.2s;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card::-webkit-scrollbar {
    display: none;
}
.activity-input {
    position: relative;
    top: 20%;
    margin: 0 1rem;
}

h2 {
    color: #454D67;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.people {
    width: 100%;
    height: fit-content;
    max-height: 130px;
    margin: 0.5rem 0;
    margin-top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f4f6fc;
}
.activity-title {
    width: 100%;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 1rem;
}
.input-bar-w-button {
    padding: 0 0.2rem;
    border: 2px solid #588A89;
    background-color: #F0F0F0;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    width: fit-content;
}
.input-bar-w-button > form {
    margin: auto;
}

#id_person_name {
    padding: 0.1rem;
    padding-left: 0.5rem;
    width: 120px;
}

input, textarea, select {
    color: inherit;
    border: none;
    background-color: #F0F0F0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    resize: none;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
.submit-main {
    margin-left: 5px;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 50%;
    padding: 2px;
    border-radius: 1rem;
    width: 24px;
    height: 24px;
}
.submit-sub:hover, .submit-main:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

#add {
    margin: auto;
    background-image: url("../svg/add.svg");
    background-color:  #588A89;
}
#add-person {
    margin: auto;
    background-image: url("../svg/add-person.svg");
    background-color:  #41337A;
}

#del {
    background-image: url("../svg/delete.svg");
    background-color:  #F46666;
    width: 30px;
    height: 30px;
}
.person {
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    background-color: #e0e6f1;

    margin: 0.5rem 0;
    padding: 0.2rem 0;
    width: 100%;
    height:1.5rem;
    min-width: 0;
    
}
.person-text{
    -webkit-mask-image: linear-gradient(90deg, #000000 66.12%, rgba(0, 0, 0, 0.330754) 81.51%, rgba(0, 0, 0, 0.150651) 88.48%, rgba(0, 0, 0, 0.0579425) 94.06%, rgba(0, 0, 0, 0) 97.96%);
    mask-image: linear-gradient(90deg, #000000 66.12%, rgba(0, 0, 0, 0.330754) 81.51%, rgba(0, 0, 0, 0.150651) 88.48%, rgba(0, 0, 0, 0.0579425) 94.06%, rgba(0, 0, 0, 0) 97.96%);
    width: 150px;
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}
.inline-button-form {
    height: 100%;
    position: relative;
    margin: 0 0.5rem;
}
#x {
    background-image: url("../svg/x.svg");
    background-color:  #F46666;
    margin-top: 2px;
    margin-left: 0;
    right: 1px;
    width: 18px;
    height: 18px;
}
@media only screen and (max-width: 1030px) {
    .card {
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .bg {
        flex-direction: column-reverse;
    }
    .kanban {
        height: 800px;
        width: 100vw;
        padding: 0%;
    }
    .card {
        width: 200px;
        margin: 1rem;
    }
    .activity-input {
        position: relative;
        top: 0%;
        height: 1000px;
        padding: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 537px) {
    .card {
        width: 100%;
    }
}