#flow {
    background: url("flow.png");
    background-size: contain;
}

#wireframe {
    background: url("wireframe.png");
    background-size: contain;
}

#prototype {
    background: url("prototype.png");
    background-size: contain;
}