<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% include 'head.html' %}
        <link rel="stylesheet" href="{% static 'story_3/main/css/homepage.css' %}">
        <style>
            #homepage-text {
                position: absolute;
                top: 50%;
            }
        </style>
        {% block head_overrides %}{% endblock %}
    </head>
    <body>
        {% include './navbar.html' %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </body>
    <script src="../../static/story_3/main/scripts/homepage-scripts.js"></script>
    {% block scripts %}{% endblock %}
</html>