{% extends "./base.html" %}
{% load static %}
{% block head_overrides %}
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
<div id="homepage-text">
    <h1>{{date}}</h1>
</div>
{% endblock %}