{% extends "./base.html" %}
{% load static %}
{% block head_overrides %}
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
<div id="homepage-text">
    <h1>Welcome!</h1>
    <h2>You have stumbled upon my other page!</h2>
</div>
{% endblock %}