<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'story_3/main/css/navbar.css' %}">
    </head>
    <body style="width:100%; height:max-content;">
        <div class="navbar" id="navbar">
            <div class="navbar-button-row">
                <a href="/story_4" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_4/home.svg">Home</div></a>
                <a href="/story_4/dummy" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_4/dummy.svg">Other Page</div></a>
                <a href="/story_4/redirect" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_4/redirect.svg">Redir Test</div></a>
                <a href="/" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_4/stories.svg">PPW Stories</div></a>
           </div>
        </div>
    </body>
    <script src="../../static/story_3/main/scripts/navbar-scripts.js"></script>
</html>