{% extends "./base.html" %}
{% load static %}
{% block head_overrides %}
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
<div id="homepage-text">
    <h1>Hello!</h1>
    <h2>Try adding some text at the the end of this page's URL<br>
    to test redirection!<br>
    It'll bring you to Google Search.</h2>
</div>
{% endblock %}