.email {
    text-decoration: none;
    color: #F9774E;
    font-size: 1rem;
}

.email > img {
    width:1.5rem; height: 1.5rem;
    margin: 0.5rem;
    vertical-align: middle;
}

#socmed-row {
    height: fit-content;
    display: flex;

    flex-wrap: wrap;
}

.socmed-button {
    width: fit-content; height: fit-content;
    background: #F9774E;
    margin: 0.25rem;
    border-radius: 1rem;
    padding: 0.25rem 0.25rem;
}

.socmed-button:hover {
    filter: brightness(1.1);
}

.socmed-button > img {
    width: 2rem; height: 2rem;
    vertical-align: middle;
}

#socmed {
    position: absolute;
    top: 40%;
    margin: 0 5%;
}