#homepage-text {


    height: fit-content;
    margin: 0 10%;

    transition-duration: 0.2s;
}

.button {
    margin:1rem 0;
    width: fit-content; height: fit-content;
    background: #FFFCF6;
    border-radius: 30.5px;
    padding: 0.5rem 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;

    text-align: center;

    color: #41337A;
    transition-duration: 0.2s;
}

.button:hover {
    color: #41337A;
    transform: none;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.5rem;

    text-align: left;

    color: #F0F0F0;

    transition: 0.2s;
}

h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;

    color: #F0F0F0;

    transition: 0.2s;
}

.me {
    background-image: url("../../me.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px; height: 250px;
    border-radius: 125px;
    border: #FFFCF6 solid 5px;
    margin-left: 10%;
    z-index: 90;
}