html {
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    width: 100%; height: 45px;
    padding: 10px 0;
    background-color: #FFFCF6;
    transition: 0.2s;
    z-index: 100;
}
.navbar-button-row {
    color: #41337A;
    margin: 0;
    margin-left: 10px;
    overflow: hidden;
    width: fit-content; height: fit-content;
    display: flex;
    justify-content: left;
    background: #FFFCF6;
    border-radius: 30.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.navbar-button {

    width: 140px;
    margin: 0;
    padding: 10px 0px;
    transition-duration: 0.2s;
    overflow: hidden;
}

.navbar-button > img {
    width: 20px; height: 20px;
    vertical-align: middle;
    margin: 0 9px;
}

.navbar-href {
    border-radius: 100%;
}

.navbar-href .navbar-button:hover {
    cursor: pointer;
    color: #F0F0F0;
    background:#41337A;
}

.navbar-button:active {
    transition-duration: 0.1s;
    filter: brightness(1.2);
}

.navbar-button:hover > img {
    filter: brightness(10);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #41337A;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    filter: brightness(0.7);
}