.swapper {
    display: flex; flex-direction: row;
    height: fit-content;
    justify-content: center;
}

.swapper-pair {
    
    width: max-content;
    margin: 1%;
    display: flex;

}

.swapper-button {
    width: 50px; height: 50px;
    border-radius: 15px;
    border: none;
    outline: none;
    transition: 0.1s;
    margin: 1% 10px;

    background: #F4EBD8;

    padding: 9px;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12), inset 0px -4px 4px rgba(65, 51, 122, 0.12);
    transition: 0.2s;
}

.swapper-button > img {
    vertical-align: middle;
    width: 32px; height: 32px;
    transition: 0.2s;
}

.swapper-text {
    margin:auto 0;
    width: max-content;
    font-weight: 600;
    font-size: 0px;
    color: #41337A;
    align-content:center;
    vertical-align: middle;

    transition: 0.3s ease-in-out;

}

.swapper-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.swapper-pair .swapper-button:hover {
    cursor: pointer;
    transform: translateY(-10%) scale(1.1);
}

.swapper-button:active {
    filter: brightness(0.9);
}
.swapper-button:focus {
    background-color: #E15397;
}

.swapper-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 40px; height: 40px;
    padding: 0;
}

#left {
    background-image: url("../left.svg");
    background-size: contain;
}

#right {
    background-image: url("../right.svg");
    background-size: contain;
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
    margin-top: 5%;

}

.slides {
    width: 1059px; height: 443px;
    border-radius: 2rem;
    background: #F4EBD8;

    margin: 1%;
}

.slide-indicators {
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.slide-indicator {
    width: 1rem; height: 1rem;
    border-radius: 10px;
    background-color: #9B86F1;
    margin: 0.5rem;
}