{% extends "base.html" %}
{% load static %}
{% block head_overrides %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'story_2/style.css' %}">
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
    <div id="caption">{{caption}}</div>
    <div style="margin:auto; display: flex;">
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fgb3noPOXABS9njWNPHDAFF%2FPPW-Stories-Mirror%3Fnode-id%3D31%253A11&chrome=DOCUMENTATION" allowfullscreen></iframe>
            <div class="pair" style="margin: auto 0;">
            <a href="/"><div class="button" id="home"></div></a>
        </div>
    </div>
{% endblock %}