{% extends "base.html" %}
{% load static %}
{% block head_overrides %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'story_2/style.css' %}">
    <title>{{caption}} - Kenta</title>
{% endblock %}
{% block content %}
<div id="caption">{{caption}}</div>
<div id="flexbox">
    <div class="pair">
        <a href="./flow"><div class="button" id="flow"></div></a>
        Design<br>Flow
    </div>
    <div class="pair">
        <a href="./wireframe"><div class="button" id="wireframe"></div></a>
        Figma<br>Wireframe
    </div>
    <div class="pair">
        <a href="./prototype"><div class="button" id="prototype"></div></a>
        Figma<br>Prototype
    </div>
    <div class="pair" style="padding: 10px 0;">
        <a href="/"><div class="button" id="home"></div></a>
    </div>
</div>
{% endblock %}