<!DOCTYPE html>

{% load static %}
<html style="height: 100%">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body style="display: flex; margin:auto auto; height:100%;">

    </body>
</html>