<!DOCTYPE html>

{% load static %}
<html style="height: 100%; overflow:hidden;">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            body {
                background: none;
            }
            svg, #pin {
                transition: 0.2s;
            }

            svg:hover {
                transform: translateY(-10%);

            }

            
            svg:hover #pin {
                fill: #E15397;
                stroke:#41337A;
                stroke-linejoin: round;
                stroke-width: 5px;
            }

            .tooltip-text {
                padding: 10px 15px;
                width: 300px;
                height: 150px;
                line-height: 105%;
                text-align: left;
                font-size: 24px;
                background: #D8F7FF;
                color: aliceblue;
                position: absolute;
                visibility: hidden;
                transition: 0.2s;
                border-radius: 25px;
                opacity: 0;

                bottom: 85%;
                left: 50%;

                filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
            }
            
            .tooltip-text > h1 {
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                display: flex;
                align-items: center;
                margin-bottom: -2%;

                color: #41337A;
            }

            .tooltip-text > h2 {
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                display: flex;
                align-items: center;

                color: #7365AF;
            }

            .tooltip-text > p {
                line-height: 1em;
                margin-top: 2%;
                font-weight: 500;
                font-size: 14px;
                color: #41337A;
            }

            .el-w-tooltip {
                position: absolute;
            }
            
            .el-w-tooltip:hover 
            .tooltip-text {
                visibility: visible;
                opacity: 1;
            }

            #caption {
                filter: none;
                width: 150px;
                text-align: left;
                margin: 5px 0;
                padding: 10px 10px;
                background: #60BBEE;
            }
        </style>
        <style>
            .indo-map {
                background-image: url("../../../static/story_3/map-test.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 75% 0;
                width: 950px; height: 695px;
            }
        </style>
    </head>
    <body style="display: flex; margin:auto auto; height:100%;">
        <div class="indo-map">
            <div class="el-w-tooltip" style="top:300px; left:300px;">
                <div class="tooltip-text" style="left: 50%; transform:translate(0, 0);">
                    <div id="caption">College</div>
                    <h1>University of Indonesia</h1>
                    <h2>Faculty of Computer Science - DEPOK</h2>
                    <p>MAUNG 2019. Majoring in Computer Science.</p>
                </div>
                <svg style="overflow: visible; margin: auto;" width="56" height="75" viewBox="0 0 56 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="pin" d="M37.2612 53.834C48.174 50.0526 56 39.7763 56 27.6923C56 12.3983 43.464 0 28 0C12.536 0 0 12.3983 0 27.6923C0 39.2474 7.15591 49.1496 17.324 53.3005L27.4167 75L37.2612 53.834Z" fill="#F9774E"/>
                    <circle id="hole" cx="28" cy="28" r="13" fill="#41337A"/>
                </svg>
            </div>
            <div class="el-w-tooltip" style="top:300px; left:350px;">
                <div class="tooltip-text">
                    <div id="caption">High School</div>
                    <h1>SMA IIBS</h1>
                    <h2>IIEC - CIKARANG</h2>
                    <p>Science major. 2019 graduate</p>
                </div>
                <svg style="overflow: visible; margin: auto;" width="56" height="75" viewBox="0 0 56 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="pin" d="M37.2612 53.834C48.174 50.0526 56 39.7763 56 27.6923C56 12.3983 43.464 0 28 0C12.536 0 0 12.3983 0 27.6923C0 39.2474 7.15591 49.1496 17.324 53.3005L27.4167 75L37.2612 53.834Z" fill="#F9774E"/>
                    <circle id="hole" cx="28" cy="28" r="13" fill="#41337A"/>
                </svg>
            </div>
            <div class="el-w-tooltip" style="top:330px; left:330px;">
                <div class="tooltip-text">
                    <div id="caption">Elementary</div>
                    <h1>SDI Nurul Fatimah</h1>
                    <h2>Nurul Fatimah Islamic Elementary - BOGOR</h2>
                    <p>2013 graduate</p>
                </div>
                <svg style="overflow: visible; margin: auto;" width="56" height="75" viewBox="0 0 56 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="pin" d="M37.2612 53.834C48.174 50.0526 56 39.7763 56 27.6923C56 12.3983 43.464 0 28 0C12.536 0 0 12.3983 0 27.6923C0 39.2474 7.15591 49.1496 17.324 53.3005L27.4167 75L37.2612 53.834Z" fill="#F9774E"/>
                    <circle id="hole" cx="28" cy="28" r="13" fill="#41337A"/>
                </svg>
            </div>
        </div>
    </body>
</html>