<!DOCTYPE html>

{% load static %}
<html style="height: 100%">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            html {
                scroll-behavior: smooth;
            }
            .navbar {
                position: fixed;
                width: 100%; height: 45px;
                padding: 10px 0;
                background-color: #FFFCF6;

                transition: 0.2s;
            }
            .navbar-button-row {
                color: #41337A;
                margin: 0;
                margin-left: 10px;
                overflow: hidden;
                width: fit-content; height: fit-content;
                display: flex;
                justify-content: left;
                background: #FFFCF6;
                border-radius: 30.5px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
            }

            .navbar-button {

                width: 140px;
                margin: 0;
                padding: 10px 0px;
                transition-duration: 0.2s;
                overflow: hidden;
            }

            .navbar-button > img {
                width: 20px; height: 20px;
                vertical-align: middle;
                margin: 0 9px;
            }

            .navbar-href {
                border-radius: 100%;
            }

            .navbar-href .navbar-button:hover {
                cursor: pointer;
                color: #F0F0F0;
                background:#41337A;
            }

            .navbar-button:active {
                transition-duration: 0.1s;
                filter: brightness(1.2);
            }

            .navbar-button:hover > img {
                filter: brightness(10);
            }

            .bg {
                width: 100%;
                position: static;
                height: 100vh;
            }

            #about-me.bg , #projects.bg {
                background-color: #FFFCF6;
            }

            #experience.bg {
                background: inherit;
            }

            #contacts.bg {
                height: 50vh;
                background-color: #41337A;
            }

            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #F0F0F0;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #41337A;
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                filter: brightness(0.7);
            }
        </style>
    </head>
    <body style="width:100%; height:max-content;">
        <div class="navbar" id="navbar">
            <div class="navbar-button-row">
                <a href="#homepage" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/home.svg">Home</div></a>
                <a href="#about-me" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/about-Me.svg">About Me</div></a>
                <a href="#experience" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/experience.svg">Experience</div></a>
                <a href="#projects" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/projects.svg">Projects</div></a>
                <a href="#contacts" class="navbar-href"><div class="navbar-button"><img src="../../../static/story_3/main/navbar/contacts.svg">Contacts</div></a>
            </div>
        </div>
        <div class="bg" id="homepage"></div>
        <div class="bg" id="about-me"></div>
        <div class="bg" id="experience"></div>
        <div class="bg" id="projects"></div>
        <div class="bg" id="contacts"></div>
    </body>
    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("navbar").style.background = "transparent";
            } else {
                document.getElementById("navbar").style.background = "#FFFCF6";
            }
        }

        function navbarResponse(media) {
            var row = document.getElementsByClassName("navbar-button-row")[0];
            var els = document.getElementsByClassName("navbar-button");
            var ael = document.getElementsByClassName("navbar-href");
            if (media.matches) {
                row.style.background = "transparent";
                for (var i = 0 ; i < els.length ; i++) {
                    var el = els[i];
                    el.style.fontSize = "0";
                    el.style.width = "40px";
                    ael[i].style.margin = '5px';
                    ael[i].style.background = "#FFFCF6";
                    el.style.borderRadius = '20px';
                }
            } else {
                row.style.background = "#FFFCF6";
                for (var i = 0 ; i < els.length ; i++) {
                    var el = els[i];
                    el.style.fontSize = "16px";
                    el.style.width = "140px";
                    ael[i].style.margin = '0';
                    ael[i].style.background = "transparent";
                    el.style.borderRadius = '0';
                }
            }
        }

        var media = window.matchMedia("(max-width: 800px)");
        navbarResponse(media)
        media.addListener(navbarResponse)        
    </script>
</html>