<!DOCTYPE html>

{% load static %}
<html style="height: 100%">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            .swapper {
                display: flex; flex-direction: row;
                height: fit-content;
            }
            
            .swapper-pair {
                
                width: max-content;
                margin: 1%;
                display: flex;

            }

            .swapper-button {
                width: 50px; height: 50px;
                border-radius: 15px;
                border: none;
                outline: none;
                transition: 0.1s;
                margin: 1% 10px;

                background: #F4EBD8;

                padding: 9px;

                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12), inset 0px -4px 4px rgba(65, 51, 122, 0.12);
            }

            .swapper-button > img {
                width: 32px; height: 32px;
            }

            .swapper-text {
                margin:auto 0;
                width: max-content;
                font-weight: 600;
                font-size: 0px;
                color: #41337A;
                align-content:center;
                vertical-align: middle;

                transition: 0.3s ease-in-out;

            }

            .swapper-button:hover {
                filter: brightness(1.1);
                cursor: pointer;
            }

            .swapper-pair .swapper-button:hover {
                cursor: pointer;
                transform: translateY(-10%) scale(1.1);
            }

            .swapper-button:active {
                filter: brightness(0.9);
            }
            .swapper-button:focus {
                background-color: #E15397;
            }

        </style>
    </head>
    <body style="display: flex; margin:auto auto; height:100%;">
        <div class="swapper">
            <div class="swapper-pair" id="sb-1" style="order: 1;">
                <button class="swapper-button" onclick="swap('sb-1')"><img src="../../../static/story_3/main/about/hobby.svg"></button>
                <p class="swapper-text">Hobbies</p>
            </div>
            <div class="swapper-pair" id="sb-2" style="order: 2;">
                <button class="swapper-button" onclick="swap('sb-2')"><img src="../../../static/story_3/main/about/skill.svg"></button>
                <p class="swapper-text">Skills</p>
            </div>
            <div class="swapper-pair" id="sb-3" style="order: 3;">
                <button class="swapper-button" onclick="swap('sb-3')"><img src="../../../static/story_3/main/about/interest.svg"></button>
                <p class="swapper-text">Interests</p>
            </div>
            <div class="swapper-pair" id="sb-4" style="order: 4;">
                <button class="swapper-button" onclick="swap('sb-4')"><img src="../../../static/story_3/main/about/commitee-experience.svg"></button>
                <p class="swapper-text">Commitee Experience</p>
            </div>
        </div>
    </body>

    <script>

        function swap(id) {
            var el = document.getElementById(id);
            var pairs = document.getElementsByClassName("swapper-pair");
            for (i = 0; i < pairs.length; i++) {
                if (pairs[i] !== el) {
                    var button = pairs[i];
                    button.style.order = Math.abs(pairs[i].style.order);
                    var text = button.getElementsByClassName("swapper-text")[0];
                    text.style.fontSize = '0';
                }
                if (el.style.order > 0) {
                    el.style.order *= -1;
                    var text = el.getElementsByClassName("swapper-text")[0];
                    text.style.fontSize = '24px';
                }
            }
        }
    </script>
</html>