<!DOCTYPE html>

{% load static %}
<html style="height: 100%">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <style>
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #F0F0F0;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #41337A;
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                filter: brightness(0.7);
            }
        </style>
    </head>
    <body style="display: flex; margin:auto auto; height:100%;">
        
    </body>
</html>