#drafts {
    background: url("drafts.png");
    background-size: contain;
}

#main {
    background: url("main.png");
    background-size: contain;
}

.caption {
    margin: 0;
    margin-left:10%;
    text-align: center;
    width: fit-content;
    border-radius: 30.5px;
    background: #FFFCF6;
    color: #41337A;
    font-size: 1.25rem;
    padding: 0.5rem 2rem;    
    position: absolute;
    top: 10%;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    transition: 0.2s ease-in-out;
}

.flex-iconbar {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
}

.flex-iconbar > div > div.button {
    margin: 5px;
    width: 40px; height: 40px;
}

.tooltip-text {
    padding: 5px 15%;
    width: max-content;
    line-height: 105%;
    text-align: center;
    font-size: 12px;
    background-color: #41337A;
    color: aliceblue;
    position: absolute;

    visibility: hidden;
    transition: 0.2s;

    top: 120%;
    left: 50%;

    transform: translate(-50%, 0);

    border-radius: 10px;
    opacity: 0;
}

.button-w-tooltip {
    position: relative;
    border-radius: 40px;
}

.button-w-tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #41337A transparent;
  }

.button-w-tooltip:hover 
.tooltip-text {
    visibility: visible;
    opacity: 1;
}

#drafts_1 {
    background: url("drafts/drafts_tooltip-test.png");
    background-size: contain;
}

#drafts_2 {
    background: url("drafts/drafts_multipin.png");
    background-size: contain;
}

#drafts_3 {
    background: url("drafts/drafts_navbar.png");
    background-size: contain;
}

#drafts_4 {
    background: url("drafts/drafts_flashcards.png");
    background-size: contain;
}

#drafts_5 {
    background: url("drafts/drafts_swappers.png");
    background-size: contain;
}

#drafts_6 {
    background: url("drafts/drafts_two-end-stick.png");
    background-size: contain;
}