a {
    color: #41337A;
}

html {
    background: #7365AF;
}

input {
    margin: auto;
    border-radius: 0;
    width: 100px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);

}

input:hover {
    color: white;
    background-color: #41337A;
    transition: 0.2s;
}

input:active {
    filter: brightness(1.1);
}

