<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'story_1/style.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'My PPW Logo.png' %}"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>Story 1 - Kenta</title>
    </head>
    <body>
        <div id="backdrop">
            <a href="https://gitlab.com/kenta_bisma/my-ppw-projects" style="position:absolute; margin:10px;">
                <img src="{% static 'My PPW Logo.png' %}" height="40px">
            </a>
            <h1>Welcome!</h1>
        <h2>You have stumbled upon my profile page!
        <br>Curious about me?</h2>
        <div id='button-row'>
            <a id='button1' href=#void><p>Get started here!</p></a>
        </div>
        <div id='overlay'>
            <div id='bio-page'>
                <div id='void'>
                    <div id='bio-button-row'>
                        <a href=#void><div id='button2' onclick='show(x1, x2, x3, "flex")'>About me</div></a>
                        <a href=#void><div id='button2' onclick='show(x2, x3, x1, "block")'>Education</div></a>
                        <a href=#void><div id='button2' onclick='show(x3, x1, x2, "block")'>Contacts</div></a>
                    </div>
                </div>
                <div id='bio-content'>
                    <div id='about-me'>
                        <div id='photo-npm'>
                            <div id="me"></div>
                            <p id='name'>Kenta Bisma</p>
                            <p id="npm">1906350950</p>
                        </div>
                        <div id='desc'>
                            <div id='header'>A few words about me...</div>
                            <p>Just a regular, simple guy from Eastern Java.<br>
                                Comes to Fasilkom to join the dynamic and curious community.
                                Enjoys drawing, gaming, learning new things, and also taking risks!</p>
                        </div>
                    </div>
                    <div id='education'>
                        <div id='section'>
                            <div id='header'>College</div>
                            <p>MAUNG 2019, Computer Science Major, Faculty of Computer Science, University of Indonesia</p>
                        </div>
                        <div id='section'>
                            <div id='header'>High School</div>
                            <p>2019 graduate of International Islamic Boarding School, International Islamic Education Council, Cikarang</p>
                        </div>
                    </div>
                    <div id='contacts'>
                        <div id="socmeds">
                            <div id='socmed'><img src="{% static 'story_1/email1.png' %}" width="60px" height="60px"><div id='socmed-tab'>
                                <a href="">muhammad.kenta@ui.ac.id</a></div></div>
                            <div id='socmed'><img src="{% static 'story_1/email2.png' %}" width="60px" height="60px"><div id='socmed-tab'>
                                <a href="">muhammad.kenta96@gmail.com</a></div></div>
                            <div id='socmed'><img src="{% static 'story_1/ig.png' %}" width="60px" height="60px"><div id='socmed-tab'>
                                <a href="https://www.instagram.com/kent.db/">kent.db</a></div></div>
                            <div id='socmed'><img src="{% static 'story_1/line.png' %}" width="60px" height="60px"><div id='socmed-tab'>
                                <a href="">mystdev</a></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
    <script>
        var x1 = document.getElementById("about-me");
        var x2 = document.getElementById("education");
        var x3 = document.getElementById("contacts");

        function show(elIn, else1, else2, displayType) {
            hide(else1);
            hide(else2);
            elIn.style.display = displayType;
        }
        function hide(elIn) {
            elIn.style.display = "none";
        }
    </script>
</html>