html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

#backdrop {
    
    padding: 1px;
    background-image: url("backdrop.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #cccccc;
}
h1 {
    margin-top: 200px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;

    text-align: center;

    color: #F0F0F0;
}

h2 {
    margin-top: 6px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #F0F0F0;
}
#button-row {
    
    margin-top: 25px;
}
#button1 {
    display: flex;
    margin: auto;

    width: 257px;
    background: #F0F0F0;
    border-radius: 30.5px;
    padding: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    text-align: center;

    color: #24637D;
    transition-duration: 0.2s;
}

#button1 p {
    margin: auto;
    display: inline-block;
}

#button1:hover {
    cursor: pointer;
    background:#24637D;
    text-decoration: none;
    color: #F0F0F0;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

#button1:active {
    transition-duration: 0.1s;
    filter: brightness(1.5);
}

#overlay {

    margin-top: 210px;
    position: relative;
    align-self: center;
    height: 1500px;
    background-image: url("overlay.png");
    background-size: cover;

    

}

#bio-page {
    padding-top: 30%;
    margin: 100px auto;
    width: 1090px;
    height: 806px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: #24637D;
    display: block;

    
}

#void {
    padding-top: 25px;
    align-content: center;
}

#bio-button-row {

    stroke: #24637D;

    margin: auto;
    overflow: hidden;
    width: fit-content;
    display: flex;
    justify-content: center;
    background: #F0F0F0;
    border-radius: 30.5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

#button2 {
    width: 178px;
    margin: 0;
    padding: 10px 0px;

    transition-duration: 0.2s;
}

a {
    text-decoration: none;
    color:#24637D;
    
}

a #button2:hover {
    cursor: pointer;
    color: #F0F0F0;
    background:#24637D;

}

#button2:active {
    transition-duration: 0.1s;
    filter: brightness(1.5);
}

#bio-content {
    margin-top: 50px;
    padding: 20px;
}

#bio-content p {
    font-size: 24px;
}

#about-me {
    vertical-align: middle;
    margin: auto;
    display: flex;
    padding: 20px 40px;

}

#photo-npm {
    text-align: center;
    align-items: center;
    padding-bottom: 5px;
    
}

#photo-npm p {
    line-height: 36px;
}

#name {
    font-size: 28px;
    font-weight: bold;
}
#npm {
    font-size: 24px;
}

#desc {
    margin: 20px 0px 20px 20px;
    padding: 20px;
}

#desc p {
    margin-top: 20px;
}

#me {
    background-image: url("me.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30.5px;
    height: 420px;
    width: 280px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

#header {
    width: fit-content;
    border-radius: 30.5px;
    background-color: #5AAAB3;
    color: #F0F0F0;
    justify-content: left;
    font-size: 30px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#education {
    display: none;
    margin: 10px 100px;

}

#section {
    margin: 50px;
    padding: 20px;
}

#contacts {
    display: none;
    margin: 10px 200px;


}
#socmed-tab {
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 20px;
    width: 100%;
    border-radius: 30.5px;
    padding: 8px 20px;
    vertical-align: middle;
    border: solid #5AAAB3;
    background-color: #deedee;
    
}

#socmed {
    vertical-align: middle;
    display:flex;
    justify-content: left;
    font-size: 20px;
    
    color: #5AAAB3;
    text-align: left;
    padding: 10px;
}