{% extends "base.html" %} {% load static %} {% block head_overrides %}
<link rel="stylesheet" href="{% static 'story_7/css/style.css' %}">
<title>{{caption}} - Kenta</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>

</style>
{% endblock %} {% block content %}
<div style="margin: 80px 80px; height: max-content;">
    <div class="caption">Accordion</div>
    <div id="accordion">
        <div class="group">
            <div style="position: absolute; display: flex; flex-direction: row; z-index: 2000; right: 5%; top: 6px;">
                <div class="kenta-h3-up-button" role="button"></div>
                <div class="kenta-h3-down-button" role="button"></div>
            </div>
            <h3>Aktivitas saat ini</h3>
            <div>
                <ul>
                    <li>Belajar PPW</li>
                    <li>Belajar SDA</li>
                    <li>Belajar MatDas</li>
                </ul>
            </div>
        </div>
        <div class="group">
            <div style="position: absolute; display: flex; flex-direction: row; z-index: 2000; right: 5%; top: 6px;">
                <div class="kenta-h3-up-button" role="button"></div>
                <div class="kenta-h3-down-button" role="button"></div>
            </div>
            <h3>Hobi</h3>
            <div>
                <ul>
                    <li>Drawing and sketching</li>
                    <li>Playing games</li>
                    <li>Learning new stuff</li>
                </ul>
            </div>
        </div>
        <div class="group">
            <div style="position: absolute; display: flex; flex-direction: row; z-index: 2000; right: 5%; top: 6px;">
                <div class="kenta-h3-up-button" role="button"></div>
                <div class="kenta-h3-down-button" role="button"></div>
            </div>
            <h3>Pengalaman organisasi/kepanitiaan</h3>
            <div>
                <ul>
                    <li>Compfest 12</li>
                    <li>BETIS 2020</li>
                    <li>Pemira 2019</li>
                </ul>
            </div>
        </div>
        <div class="group">
            <div style="position: absolute; display: flex; flex-direction: row; z-index: 2000; right: 5%; top: 6px;">
                <div class="kenta-h3-up-button" role="button"></div>
                <div class="kenta-h3-down-button" role="button"></div>
            </div>
            <h3>Prestasi</h3>
            <div>
                <ul>
                    <li>Lomba makan kerupuk</li>
                    <li>Lomba mewarnai SD</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script>
    $(function() {
        var acc = $("#accordion").get()[0];

        $("#accordion").accordion({
            header: "> div > h3",
            collapsible: true,
            heightStyle: "content",
            icons: null
        });

        $(".kenta-h3-up-button").click(function() {
            var temp = $(this).parent().parent();
            if (temp.index() != 0) {
                var prev = acc.children[temp.index() - 1]
                temp.insertBefore(prev)
            }
        });
        $(".kenta-h3-down-button").click(function() {
            var temp = $(this).parent().parent();
            if (temp.index() != (acc.children.length - 1)) {
                var next = acc.children[temp.index() + 1]
                temp.insertAfter(next)
            }
        });
    });
</script>
{% endblock %}